@import url(normalize.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,500|Roboto:400,700");

header {
    text-transform: uppercase;
    color: #898f8f;
    text-align: center;
    margin-top: 107px;
}

header * {
    margin: 0 auto;
}

header h1, header i {
    color: #ffcc00;
}

header .icon-line {
    position: relative;
    border-bottom: 1px solid #ffcc00;
    width: 454px;
    margin-top: 41.5px;
}

header .icon {
    font-size: 20px;
    padding: 0 7px;
    background: #fff;
    content: '';
    position: absolute;
    top: -10px;
    left: 210px;
}

header h1 {
    font: 700 60px/1.1 'Roboto', arial, sans-serif;
    margin-top: 3.5px;
}

header p {
    font: 500 18px/1.333 'Raleway', arial, sans-serif;
}

.resume {
    position: relative;
    width: 100%;
    max-width: 1140px;
    font-size: 0;
    margin: 40px 0;
    box-sizing: border-box;
}

.resume-photo-inner {
    padding: 15px;
    border: 1px solid #ffcc00;
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resume-photo-inner:before, .resume-photo-inner:after {
    content: '';
    position: absolute;
    display: block;
}

.resume-photo-inner:before {
    top: -1px;
    left: 23.8%;
    width: 50%;
    height: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.resume-photo-inner:after {
    top: 23.8%;
    left: -1px;
    width: 100%;
    height: 50%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.resume-photo-inner-img {
    width: 100%;
    border: 1px solid #ffcc00;
}

.resume:before, .resume:after {
    position: absolute;
    display: block;
    width: 14px;
    top: 315px;
    color: #ffcc00;
    font-size: 24px;
    font-weight: 700;
}

.resume:before {
    content: '<';
    left: 12px;
}

.resume:after {
    content: '>';
    right: 12px;
}

.resume .col-6 {
    width: 50%;
    box-sizing: border-box;
    padding: 75px 85px;
    display: inline-block;
}

.resume-info {
    border-left: 1px solid #ffcc00;
    text-align: center;
}

.resume-info-fio {
    font: 700 36px/0.666 'Roboto', arial, sans-serif;
    color: #666666;
    margin: 20px auto 0;
    position: relative;
}

.resume-info-fio:after {
    content: '';
    display: block;
    position: absolute;
    top: 80px;
    left: 115px;
    width: 100px;
    border-top: 1px solid #ffcc00;
}

.resume-info-fio-tittle {
    margin: 70px auto 0;
    font: 400 24px/1.5 'Raleway', arial, sans-serif;
    color: #666666;
}

.resume-info-icons {
    margin: 30px auto;
    height: 30px;
}

.resume-info-icons i {
    color: #ccc;
    margin: 0 2.5px;
    height: 100%;
    line-height: 30px;
    width: 30px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.resume-info-text {
    color: #333;
    font: 500 14px/1.7 'Raleway', arial, sans-serif;
}

.resume-info-view {
    font: 700 14px/1.7 'Open Sans', arial, sans-serif;
    color: #666;
    text-transform: uppercase;
    margin-top: 50px;
    background: #fff;
    border: 1px solid #ffcc00;
    height: 24px;
    width: 124px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 12px;
    position: relative;
}

.resume-info-view:before {
    position: absolute;
    content: '';
    display: block;
    border-top: 2px solid #ffcc00;
    top: -25px;
    left: 35px;
    width: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resume-info-view:after {
    position: absolute;
    content: '';
    display: block;
    border: 2.5px solid white;
    top: -30px;
    height: 10px;
    left: 45px;
    width: 20px;
}

.resume-menu {
    margin: 40px auto 0;
    height: 13px;
    text-align: center;
}

.resume-menu p {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    display: inline-block;
    border: inherit;
    background: #ffcc00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resume-menu p:nth-child(2) {
    border: 1px solid #ffcc00;
    background: #fff;
}

/*# sourceMappingURL=style.css.map */
